@import "~bootstrap/scss/bootstrap";
body {
    height: 100vh;
    background-image: url('../images/bbq1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    max-height: 100vh;
}


.barbecue {
    width: 340px;
    height: 400px;
    display: flex;
    background-color: white; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.barbecue img {
    width: 200px;
    height: 200px;
}

#map {
    width: 100%;
    height: 300px;
}

