<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/index.css') }}">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include('navbar.html.twig') %}
        {% for flashType, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
            <div class="flash-message-{{ flashType }} d-flex align-items-center justify-content-center">
               <span class="text-white">{{ flashMessage|raw }}</span>
            </div>
            {% endfor %}
        {% endfor %}
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
