{% extends "base.html.twig"%}

    {% block content %}
        <div id="content">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1>Miles de barbacoas. Una para ti.</h1>
                <div>
                    <form method="GET" action="{{ path('search')}}">
                        <div class="d-flex flex-row">
                        <input required class="form-control" type="text" name="address" placeholder="Dirección">
                        <input required class="form-control" type="text" name="zip" placeholder="Acá tu ZIP.">
                        <input required class="form-control" type="text" name="country" placeholder="Tu país.">
                        <button class="btn btn-primary" type="submit">Encuentra tu barbacoa ideal.</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
