<nav>
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
            <div class="d-flex justify-content-between flex-row">
            <div>
                <a href="{{ path('index') }}">Inicio</a>
                <a href="{{ path('post') }}">Publicar</a>
                <a href="{{ path('history') }}">Barbacoas rentadas</a>
            </div>
            <div>
                <a href="{{ path('owned') }}">Tus barbacoas</a>
                <a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a>
            </div>
            </div>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Iniciar sesión</a>
            <a href="{{ path('fos_user_registration_register') }}">Registrarse</a>
        {% endif %}
    </div>
</nav>