{% extends "base.html.twig" %}

{% block content %}

{% if not barbecues %}

    <div class="d-flex flex-column align-items-center">
        <h1 class="text-white">Aún no has publicado ninguna barbacoa.</h1>
        <h2 class="text-white">Empieza a <a href="{{path('post')}}">publicar!</a></h2>
    </div>
{% endif %}

{% for barbecue in barbecues %}
    <div class="barbecue">
        <h2>{{barbecue.model}}</h2>
        <img class="card-img-top" src="{{ vich_uploader_asset(barbecue, 'imageFile') }}">
        <span>Descripción:<span>
        <p>{{barbecue.description}}</p>
        <span>Propiedades:<span>
        <p>{{barbecue.properties}}</p>
    </div>
{% endfor %}

{% endblock %}