{% extends "base.html.twig" %}

{% block content %}
<div id="post-form" style="width: 100%;" class="d-flex justify-content-center align-items-center">
    <form name="barbecue" id="postForm" enctype="multipart/form-data" style="width:60%;" method="POST" action="{{ path('post')}}">
        <div class="d-flex flex-column">
            <label class="text-white" for="model">Modelo</label>
            <input required class="form-control" type="text" name="model" id="model">
            <label class="text-white" for="description">Descripción</label>
            <textarea required rows="3" cols="50" class="form-control" type="text" name="description" id="description"></textarea> 
            <label class="text-white" for="properties">Propiedades</label>
            <input required class="form-control" type="text" name="properties" id="properties">
            <label class="text-white" for="image">Imagen</label>
            <input class="form-control" id="image" type="file" name="imageFile" accept="image/*" required>
            <label class="text-white" for="location">Ubicación</label>
            <input required class="form-control" placeholder="Ubicación de tu barbacoa" id="location" type="text" name="location">
            <div id="map"></div>
            <button class="btn btn-primary" type="submit">Publica tu barbacoa!</button>
            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">
            <input type="hidden" name="zip" id="zip">
            <input type="hidden" name="country" id="country">
        </div>
    </form>
</div>

{% endblock %}
{% block javascripts %}
<script>
    var form = document.getElementById('postForm');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById('location').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {         
              var lat = results[0].geometry.location.lat();
              var long = results[0].geometry.location.lng();
              var latLng = new google.maps.LatLng(lat, long);
              geocoder.geocode({'latLng': latLng}, function(results, status) {
			          if (status == google.maps.GeocoderStatus.OK) {
                    results[0].address_components.forEach( function(component) {
                    component.types.forEach(function(type) {
                      if (type == 'postal_code') {
                        document.getElementById('zip').value = component.long_name;
                      }  
                      if (type == 'country') {
                       document.getElementById('country').value = component.long_name;
                      }
                    });
                    document.getElementById('latitude').value = lat;
                    document.getElementById('longitude').value = long;
                    form.submit();
                }) 
                }
              });
            }
        });
    });
  
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        var input = document.getElementById('location');
        var searchBox = new google.maps.places.SearchBox(input);

        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));
          
            if (place.geometry.viewport) {
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
    }
  </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places&callback=initAutocomplete"
    async defer></script>
 {% endblock %}