{% extends "base.html.twig" %}

{% block content %}
    <div id="map"></div>
    <div class="cards-container">
        {% if not barbecues %}
        <div class="d-flex flex-column align-items-center">
            <h1 class="text-white">No hay barbacoas en la dirección especificada.</h1>
        </div>
        {% else %}
        {% for barbecue in barbecues %}
            <div class="barbecue">
                <h2>{{barbecue.model}}</h2>
                <img class="card-img-top" src="{{ vich_uploader_asset(barbecue, 'imageFile') }}">
                <span>Descripción:<span>
                <p>{{barbecue.description}}</p>
                <span>Propiedades:<span>
                <p>{{barbecue.properties}}</p>
                {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY")%}
                    <a href="{{path('fos_user_security_login')}}">Inicia sesión para rentar.</a>
                {% else %}
                    {% if barbecue.owner == app.user %}
                        <p>Eres el dueño de esta barbacoa.</p>
                    {% elseif barbecue.renter == app.user %}
                        <p>Ya rentaste esta barbacoa. Felicidades!</p>
                    {% else %}
                        <form method="POST" action="{{path('rent')}}">
                            <input hidden readonly type="text" name="barbecue_id" value="{{barbecue.id}}">
                            <button type="sumbit" class="btn btn-primary">Rentar</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function setMarkers(lati, long) {
            var markers = [
            {% for bbq in barbecues %}
                { lat: {{ bbq.latitude }}, lng: {{ bbq.longitude }} } {% if not loop.last %}, {% endif %}
            {% endfor %} 
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: lati, lng: long},
                    zoom: 14
            });

            markers.forEach(function (location) {
            new google.maps.Marker({
                position: location,
                map: map,
            });
        });
        }

        function initMap() {
            var geocoder = new google.maps.Geocoder();
            var zip = '{{zip}}';
            var country = '{{country}}';
            var address = '{{address}}';
            geocoder.geocode({ 'address': address,'componentRestrictions':
                { 'postalCode': zip, 'country': country }}, function(results, status){
                var lati = results[0].geometry.location.lat();
                var long = results[0].geometry.location.lng();
                setMarkers(lati, long);
            });
            
            
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&callback=initMap"
    async defer></script>
{% endblock %}